<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LED Control</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    </head>

    <body>
        <button onclick=""controlLED('on')">Turn On</button>
        <button onclick=""controlLED('off')">Turn Off</button>

        <script>
            var socket = io.connect('http://localhost:8000');

            function controlLED(status) {
                socket.emit('led_status', {data: status });
            }
        </script>
    </body>
</html>